.pageHead {
		background: #cdd1ce; /* Old browsers */
		background: -moz-linear-gradient(top, #cdd1ce 0%, #dce3c4 41%, #fefefd 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdd1ce), color-stop(41%,#dce3c4), color-stop(100%,#fefefd)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #cdd1ce 0%,#dce3c4 41%,#fefefd 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #cdd1ce 0%,#dce3c4 41%,#fefefd 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #cdd1ce 0%,#dce3c4 41%,#fefefd 100%); /* IE10+ */
		background: linear-gradient(to bottom, #cdd1ce 0%,#dce3c4 41%,#fefefd 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdd1ce', endColorstr='#fefefd', GradientType=0 ); /* IE6-9 */
		padding: 0;
		width: 100%;
		height: 95px;
		min-height: 95px;
		font-family:sans-serif;
		border-bottom: 12px solid #00A305;
		box-shadow: 0 2px 5px black;
		margin: 0;
}

#speedLogo {
	float: left;
}

#parcLogo {
	float:left;
	padding: 5px;
}

#edge {
	vertical-align: top;
	float: right;
	padding: 0px;
	margin: 0px;
	margin-bottom:-110px;
}


/*below is for the multiselect widget I'm using on the manage role page*/
.uix-multiselect-original { position: absolute; left:-999999px; }
.uix-multiselect { position: relative; float:left; }
.uix-multiselect .multiselect-selected-list, .uix-multiselect .multiselect-available-list { position:absolute; overflow:hidden; }
.uix-multiselect .ui-widget-header { overflow:hidden;  white-space:nowrap; padding:2px 4px; }
.uix-multiselect .ui-widget-header div.header-text { white-space: nowrap; }
.uix-multiselect .ui-widget-header .uix-control-right, .uix-multiselect .ui-widget-header .uix-control-left { width:16px; height:16px; }
.uix-multiselect .ui-widget-header .uix-control-right { float:right; }
.uix-multiselect .ui-widget-header .uix-control-left { float:left; }
.uix-multiselect .ui-widget-header .uix-search { float:right; height:14px; font-size:80%; }
.uix-multiselect .uix-list-container { position:relative; overflow:auto; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.uix-multiselect .uix-list-container .ui-priority-secondary { padding-right:0; }
.uix-multiselect .group-element { position:relative; padding-left:0;  white-space:nowrap; overflow:hidden; }
.uix-multiselect .group-element-collapsable { padding-left:16px; }
.uix-multiselect .group-element span.collapse-handle { position:absolute; margin-top:-8px; top:50%; left:0; }
.uix-multiselect .group-element .label { margin:0 3px;  white-space:nowrap; overflow:hidden; }
.uix-multiselect .group-element .ui-icon { float:left; cursor:pointer; }
.uix-multiselect .option-element, .dragged-element { cursor:pointer; padding:0 2px; }
.uix-multiselect .option-element.ui-state-disabled { font-style:italic; }
.dragged-element, .dragged-grouped-element { padding:1px 3px; }
.dragged-grouped-element { padding-left:16px; }
.uix-multiselect .grouped-option { position:relative; padding-left:16px }
.uix-multiselect .grouped-option .ui-icon { position:absolute; left:0; }
